 :root{
     --primaryColor : #0076de;
     --whiteColor : #fff;
     --blackColor :#333;
     --greyColor :#f6f8fa;
     --labelColor :#64b1f5;
     --yellowColor :#ffd723;

} 
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Nunito', sans-serif; 
}
body{
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;

    background-image: url("wp3289408.jpg") ;
    
    background-position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  background-position-y: 60px;
    position: relative; 
    
    
}
